<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Order History</title>
    <link rel="stylesheet" href="../../static/css/user/history.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="history-page">
    <div class="mobile-container">
        <header class="history-header">
            <a href="shophomepage.html" class="back-btn">←</a>
            <h1 class="header-title">History</h1>
        </header>

        <main class="history-list" id="orderHistoryList">
            </main>
    </div>

    <script src="../../static/js/user/history.js"></script>
</body>
</html>